@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  #mobile {
    width: 100svw;
    height: 100svh;
    display: flex;
  }
  #desktop {
    display: none;
  }
  h1 {
    color: white;
    background: linear-gradient(90deg, #000080, #1084d0);
    padding: 3px 2px 3px 3px;
    letter-spacing: 0;
  }
}
@media (min-width: 1001px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
    width: 100%;
    height: calc(100% - 32px);
  }
}
/*#listHeight {*/
/*  height: calc(100% - 125px);*/
/*}*/
#listHeight {
  height: calc(100% - 125px);
}

#PlayerTile {
  width: 100%;
  height: 100%;
  background-color: gray;
}

#EmptyTile {
  width: 100%;
  height: 100%;
  background-color: black;
}

#cell {
  background-color: #c6c6c6;
  border-left: 3px solid #fefefe;
  border-top: 3px solid #fefefe;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
}
#cell-open {
  background-color: #c6c6c6;
  border: 1px solid #808080;
}

#title {
  height: 30px;
  width: 100%;
  color: white;
  background: linear-gradient(90deg, #000080, #1084d0);
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0;
}
#Mwindow {
  height: 90%;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px #808080,
    inset 2px 2px #fafafa;
  background-color: #c0c0c0;
  padding: 4px;
}
#boxshadow {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px #808080,
    inset 2px 2px #fafafa;
  background-color: #c0c0c0;
  padding: 4px;
}

#boxshadowNP {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px #808080,
    inset 2px 2px #fafafa;
  background-color: #c0c0c0;
}

#TabBar {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px #808080,
    inset 2px 2px #fafafa;
  background-color: #c0c0c0;
}

#MTabButton {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px #808080,
    inset 2px 2px #fafafa;
  background-color: #c0c0c0;
}
#MTabButtonPressed {
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  text-shadow: 1px 1px #222222;
  background-color: #c0c0c0;
}

#window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #dfdfdf,
    inset -2px -2px #808080,
    inset 2px 2px #fafafa;
  padding: 3px;
  background-color: #c0c0c0;
}

#button-i {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  height: 10%;
}

#search {
  box-sizing: border-box;
  border: none;
  background: #fafafa;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  width: 100%;
  height: 25px;
  margin-top: 4px;
  margin-left: 2px;
  cursor: text;
}

#button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 #222222;
  background: #c0c0c0;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  border-radius: 0;
  min-width: 75px;
  height: 25px;
  margin-right: 2px;
  margin-top: 4px;
  padding: 0 12px;
  text-align: center;
}
#button:hover {
  cursor: pointer;
}
#button:active {
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  text-shadow: 1px 1px #222222;
}

button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

input[type="submit"]:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
select,
textarea {
  padding: 3px 4px;
  border: none;
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #808080,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  background-color: #fafafa;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

label {
  display: inline-flex;
  align-items: center;
}

#button-taskbar {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 #222222;
  background: #c0c0c0;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  border-radius: 0;
  min-width: 75px;
  max-width: 125px;
  height: 32px;
  line-height: 2rem;
  padding: 0 12px;
  text-align: center;
}
#button-taskbar:hover {
  cursor: pointer;
}
#button-taskbar:active {
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  text-shadow: 1px 1px #222222;
}

#button-taskbar-pressed {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 #222222;
  background: #c0c0c0;
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  border-radius: 0;
  min-width: 75px;
  max-width: 125px;
  height: 32px;
  line-height: 2rem;
  padding: 0 12px;
  text-align: center;
  text-shadow: 1px 1px #222222;
}

#close {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
  margin-right: 3px;
  background-color: #c0c0c0;
  background-image: url("../../public/Windows/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
}
#close-dr {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
  margin-right: 3px;
  right: 5px;
  top: 25%;
  background-color: #c0c0c0;
  background-image: url("../../public/Windows/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  cursor: pointer;
}

#accept {
  background-image: url("../../public/Windows/accept.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  width: 2rem;
  height: 2rem;
}
#deny {
  background-image: url("../../public/Windows/deny.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  width: 2rem;
  height: 2rem;
}
#accept:hover {
  cursor: pointer;
}

#deny:hover {
  cursor: pointer;
}

#border {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  border: 2px #c0c0c0 solid;
  padding: 4px;
  background-color: #c0c0c0;
}

#border-pressed {
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  text-shadow: 1px 1px #222222;
  border: 2px #c0c0c0 solid;
  padding: 4px;
  background-color: #c0c0c0;
}

#border:focus {
  border-left: 4px solid #dfdfdf;
  border-top: 4px solid #808080;
  border-right: 4px solid #808080;
  border-bottom: 4px solid #dfdfdf;
  padding: 4px;
  background-color: #c0c0c0;
}

#border-np {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  border: 2px #c0c0c0 solid;
  background-color: #c0c0c0;
}

#border-nb {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  padding: 4px;
  background-color: #c0c0c0;
}
#border-nb-pressed {
  box-shadow:
    inset -1px -1px #fafafa,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px #808080;
  padding: 4px;
  background-color: #c0c0c0;
}

#border-b {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  background-color: #c0c0c0;
}

#border-s {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
  padding: 2px;
  background-color: #c0c0c0;
}

html,
body {
  background-image: url("../../public/Windows/Desktop.jpg");
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes roll {
  from {
    transform: translate(-100px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("../../public/Windows/scrollbar-background.svg");
}
/* -border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face); */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fafafa,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../../public/Windows/button-up.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../../public/Windows/button-down.svg");
}
::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("../../public/Windows/button-left.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("../../public/Windows/button-right.svg");
}
